/*html{
  background-image: url("https://cdn.hipwallpaper.com/i/32/51/7xbIYS.jpg");
  position: relative;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}*/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  background: rgb(9,56,11);
  background: linear-gradient(90deg, rgba(9,56,11,1) 0%, rgba(118,182,96,1) 50%, rgba(255,231,122,1) 100%);  position: fixed;
  margin-top: -200px;
}

table, th, td {
  border: 1px solid white;
}
.content {
  position: absolute; 
  display:inline-block;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1; 
  width: 70%; 
  padding: 60px; 
  margin-left: 250px;
  margin-top: 500px;
  margin-bottom: 100px;
  font-size: 25px;
  border-radius: 15px 50px;

}



h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {

background: rgb(26,108,56);
background: linear-gradient(147deg, rgba(26,108,56,1) 30%, rgba(87,194,75,1) 100%);
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  padding: 13px;
  position: relative;
}

.site-header .navbar-nav .nav-link:hover {
  background-color: #aff0b1;
  border-radius: 15px 50px;
  color: #20AF24;
}

.site-header .navbar-nav .nav-link.active {
  background-color: #FFE77AFF;
  border-radius: 15px 50px;
  color: black;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

