{% extends "blog/base.html" %}
{% block content %}

<style type="text/css">
  html{
  background-image: url("https://images.unsplash.com/photo-1548337138-e87d889cc369?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVuZXdhYmxlJTIwZW5lcmd5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  position: relative;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
</style>

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Clean Energy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link active" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'blog-hydropower' %}">Hydropower</a>
              <a class="nav-item nav-link" href="{% url 'blog-solar_power' %}">Solar Power</a>
              <a class="nav-item nav-link" href="{% url 'blog-wind_power' %}">Wind Power</a>
              <a class="nav-item nav-link" href="{% url 'blog-sources' %}">Sources</a>
            </div>
    </header>


<img id="myImg" src="https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy82ODc0ODc0L29yaWdpbi5qcGciLCJleHBpcmVzX2F0IjoxNjcwMTc0NjUzfQ.94iZ1L4vc2NRLphQRSHmO06fXkj5mvV9wmp_bxgX3Go/img.jpg?width=980"  style="height: 50%; width:100%;max-width:400px; position: absolute; margin-left: 70px; margin-top: 100px" class="img-fluid" alt="Responsive image">


<img id="myImg"  class="img-fluid" alt="Responsive image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Electrical_and_Mechanical_Services_Department_Headquarters_Photovoltaics.jpg/800px-Electrical_and_Mechanical_Services_Department_Headquarters_Photovoltaics.jpg"  style="height: 50%; width:100%;max-width:400px; position: absolute; margin-left: 530px; margin-top: 100px">

<img id="myImg"  class="img-fluid" alt="Responsive image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Wind_power_plants_in_Xinjiang%2C_China.jpg/800px-Wind_power_plants_in_Xinjiang%2C_China.jpg"  style="height: 50%; width:100%;max-width:400px; position: absolute; margin-left: 990px; margin-top: 100px">

<div class="content" style="margin-top: 550px;">
  <p>
    This website was created to inform people about the basics of clean energy. Clean energy is energy that comes from renewable resources. This website focuses on three types of energy, hydropower, solar power, and wind power. 
  </p>
</div>
{% endblock content %}