{% extends "blog/base.html" %}
{% block content %}

<style type="text/css">
  html{
  background-image: url("https://www.innovationnewsnetwork.com/wp-content/uploads/2020/08/Hydropower.jpg");
  position: relative;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
</style>

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Clean Energy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link active" href="{% url 'blog-hydropower' %}">Hydropower</a>
              <a class="nav-item nav-link" href="{% url 'blog-solar_power' %}">Solar Power</a>
              <a class="nav-item nav-link" href="{% url 'blog-wind_power' %}">Wind Power</a>
              <a class="nav-item nav-link" href="{% url 'blog-sources' %}">Sources</a>
            </div>
          </div>
        </div>
      </nav>
    </header>


<div class="content" style="margin-top: 200px;">

  <p>
    <strong style="color: #FFE77AFF; font-size: 30px;">Hydropower</strong><hr><br>
    <strong style="color: #aef2b1;">Definition:<br><br></strong>
    also known as water power or hydroelectric power, is the use of falling or fast-running water to produce electricity or to power machines. This is achieved by converting the kinetic energy of water into electrical or mechanical energy. Hydropower is a form of green energy production.

Since ancient times, hydropower from watermills has been used as a renewable energy source for irrigation and the operation of different mechanical devices, such as gristmills, sawmills, textile mills, trip hammers, dock cranes, domestic lifts, and ore mills. A trompe, which produces compressed air from falling water, is sometimes used to power other machinery at a distance.

Hydropower is an attractive alternative to fossil fuels as it does not directly produce atmospheric pollutants. However, there are multiple economic, sociological, and environmental downsides to its use. International institutions such as the World Bank view hydropower as a means for economic development without adding substantial amounts of carbon to the atmosphere.
  </p>
<hr><br>
<p>
    <strong style="color: #aef2b1;">Pros of Hydroelectric Power:<br><br></strong>
    <span style="color: #a8fff1;"> 1. Renewable Energy Source</span><br>
    Hydroelectric energy is renewable. It is considered as renewable because it uses the earth’s water to produce electricity. The sun shines and the water evaporates from the earth’s surface, forms clouds and then falls back on to the earth in the form of rain and snow. Rivers and lakes that are typically leveraged to generate hydroelectric power will never disappear
This implies that we can’t use it up and we don’t have to worry about it becoming more expensive because of scarcity. On the other hand, there are just a few suitable repositories where hydroelectric power plants could be built and fewer places where such undertakings are beneficial.
</p>

<p>
    <span style="color: #a8fff1;"> 2. Clean Energy Source
</span><br>
    As you may expect, hydroelectric power is one of the “green” and “clean” alternative energy sources that are out there. Creating power with hydroelectric energy is not contaminating itself. The energy produced by hydroelectric plants do not produce any toxic or greenhouse gases that pollute the atmosphere. The main contamination happens when the power plants are being built.

The hydroelectric plants emit fewer greenhouse gasses than fossil based power sources, which helps mitigate climate change, acid rains, and smog. Hydroelectric power also improves the air quality we breathe because they don’t emit air pollutants. On top of that, the pants don’t produce toxic byproducts.
</p>

<p>
    <span style="color: #a8fff1;"> 3. Cost Competitive Energy Source

</span><br>
   Hydroelectric power is a cost-competitive source of energy even though the upfront building costs can be high. River water is an infinite resource, which is not affected, whatsoever, by market volatility. Fossil fuel-based energy sources like coal, oil and natural gas are deeply affected by market volatility, which drives up or considerably lower their prices.


Hydroelectric power plants have an average lifetime of 50 – 100 years, meaning they are strategic investments that can support many future generations. They can also be easily upgraded to fall in line with the modern day’s technological requirements and have considerably lower operating and maintenance costs.
</p>

<p>
    <span style="color: #a8fff1;"> 4. Contributes to the Development of Remote Communities

</span><br>
    Hydroelectric power plants supply electricity to remote communities, attract construction of highways, industry, and commerce. All these activities serve to uplift the economy of these remote areas, increase access to education and healthcare and enhance the overall life quality of residents.

Hydroelectricity technology has been quantified for over a century. People have already come to grips with its effects through steps for prevention and compensation of damages. It’s almost always available where development is needed.
</p>

<p>
    <span style="color: #a8fff1;"> 5. Recreational Opportunities

</span><br>
    The lake that forms behind the dam can be used for recreational opportunities, offering activities such as fishing, boating and swimming. The lake’s water can also be used for irrigation purposes. Apart from this, large dams become a hotspot for tourist attractions.


Hydroelectric power plants have the capacity to store vast quantities of water for irrigation when rainfall disappears and for consumption when there is a shortage. The ability to store water is advantageous since it shields water tables from exhaustion and minimizes our susceptibility to droughts and floods.
</p>

<p>
    <span style="color: #a8fff1;"> 6. Fundamental Vehicle for Sustainable Development

</span><br>
    Energy technologies instituted and run in environmentally sensible, economically viable and socially responsible models symbolize the greatest concepts of sustainable development. This means development models in the present day that addresses individuals’ needs without affecting the capability of coming generations for tackling their own needs. Hydroelectric power is among these energy technologies.
</p>
<hr><br>

<p>
    <strong style="color: #aef2b1;">Cons of Hydroelectric Power:<br><br></strong>
    <span style="color: #a8fff1;"> 1. Environmental Damage
</span><br>
    Interruptions of natural water flow can have a great impact on the river ecosystem and the environment. Some fish species and other creatures normally migrate when there is food shortage or when the breeding season begins. The building of dams could cut off their paths leading to a lack of reproduction or fish deaths.

The natural results of hydropower are identified with intercessions in nature because of damming of water, altered water flow, and the development of streets and power lines.

Hydroelectric power plants may influence fish and the way that they move and migrate, but this is a complicated process to research and it is hard to make a determination based on that one factor. More client investments identified with abuse of fish species, which means that this is a field that a number of people have strong feelings about.
</p>

<p>
    <span style="color: #a8fff1;"> 2. High Upfront Capital Costs

</span><br>
    Power plants can be incredibly expensive to build, no matter what type you maybe building. Hydroelectric power plants are not a special case to this. Hydroelectric power plants are very costly to construct due to logistical challenges like topography, laying foundations underwater and the materials used to build it.


The only upside is that after completion, it will require less maintenance. Still, the hydroelectric plant will have to operate for a long time to recoup the money injected into the construction.
</p>

<p>
    <span style="color: #a8fff1;"> 3. Might Cause Conflicts


</span><br>
   Countries that harbor rich sources of hydroelectric power typically build dams across the river to harness the water. While this act is laudable, it can result in interruption of natural water flow from one specific direction to another.

When a particular location doesn’t require a lot of water, it is channeled to another location to cater for those wanting to build dams in those locations. However, if the scarcity of water hits that particular area, it can trigger off conflict, and this means water channeled to the dams have to be halted.
</p>

<p>
    <span style="color: #a8fff1;"> 4. May Lead to Droughts
</span><br>
    One of the main downsides to setting up hydroelectric power plants is the risk of local droughts. The overall energy and power costs are discovered depending upon water accessibility. Accessibility of water can be significantly impacted by dry spells leading to individuals not accessing the electricity they need.
</p>

<p>
    <span style="color: #a8fff1;"> 5. Risk of Floods in Lower Elevations
</span><br>
    Communities living downstream are vulnerable to flooding should strong water currents be released from the dam. In the long run, the livelihood of people living in those areas might be destroyed.
</p>

<p>
    <span style="color: #a8fff1;"> 6. Carbon dioxide and Methane Emission
</span><br>
    The hydroelectric power reservoir emits vast quantities of carbon dioxide and methane. These areas near the dam are full of water, and the plants underneath the water begin to rot and decompose. This kind of decomposition without oxygen involvement gives off vast amounts of carbon dioxide and methane, which leads to an increase in pollution levels.
</p>

<p>
    <span style="color: #a8fff1;"> 7. Geological Damage
</span><br>
    Construction of large-scale dams can contribute to grave geological damage. A classic example of geological damage is the construction of the Hoover Dam in the United States that caused earthquakes and led to the depression of the earth’ surface in the area.
</p>

<p>
    <span style="color: #a8fff1;"> 8. Concerns About the Safety of the Dam
</span><br>
    The safety of the dam is paramount for the nearby population. In the modern-day where acts of terror are rife, dams can be a major target to kill thousands of people. This is why after construction and fully operational, the dam has to be accorded maximum security. Security adds up the overall cost of constructing a hydropower plant.

People living along low lying areas are often in the danger of floods as the areas might get swept away when water is released in full force from the dam. Apart from this, these people are forcibly moved out so that construction of these dams can continue.

Construction of dams in specific areas with the ability to generate vast amounts of power can present a myriad of challenges. Even though hydroelectric power plants comes with many benefits to the end-user, variables exist that can hold back their development. With that reason in mind, it’s prudent to weigh the pros and cons of this form of energy when looking to construct one.

A good course of action is to thoroughly analyze local statistics prior to building up an innovative structure in the area. The many key considerations are that the dam should not affect the people and environment around. It should also be in line with the local safety requirements.
</p>

<hr><br>

<p>
    <strong style="color: #aef2b1;">How much does a hydropower system cost to build?
:<br><br></strong>
    It’s quite difficult to make generalisations about the cost to build hydro systems because of the different combinations of head (the change in water levels between the intake and discharge) and maximum flow rate, and how that affects the maximum power output and choice of turbine type.

Also the extent of any civil engineering works is very site dependent, with some new-build sites requiring everything to be built from scratch, while other retrofit projects can make use of and adapt the existing civil engineering structures.

Having said that, we’ll try to answer the question anyway to give you an idea of the ‘scale’ of costs involved. The table below is a rough ball-park estimate of typical project costs for systems requiring an ‘average’ amount of civil engineering works and grid connection upgrades and assuming access to the site was reasonable. In all cases it is assumed that good quality hardware is used throughout, which we would recommend anyway if you want a reliable hydro system in the long-term.

It is possible to install systems for a lower cost, particularly if the existing infrastructure at the site lends itself to easy adaption for a modern hydropower system so only modest or no civil engineering works would be needed. However even in the most favourable circumstances it is unlikely that the cost would reduce by more than 50% from that shown in the table.
</p>
  <table>
    <colgroup>
    <col width="400" />
    <col width="400" />
    <col width="400" /></colgroup>
    <tbody style="text-align: center;">
      <tr>
        <th>Maximum Power Output</th>
        <th>Estimated Project Cost</th>
        <th>$ / kW installed</th>
      </tr>
      <tr>
        <td>25 kW</td>
        <td>$233k</td>
        <td>$9.4k</td>
      </tr>
      <tr>
        <td>50 kW</td>
        <td>$415k</td>
        <td>$8.8k</td>
      </tr>
      <tr>
        <td>100 kW</td>
        <td>$732k</td>
        <td>$7.3k</td>
      </tr>
      <tr>
        <td>250 kW</td>
        <td>$1.3M</td>
        <td>$5.2k</td>
      </tr>
      <tr>
        <td>500 kW</td>
        <td>$2.2M</td>
        <td>$4.4k</td>
      </tr>
    </tbody>
  </table>
  <p>To estimate the cost to build hydro systems for a maximum power output between the bands shown, use the chart below and read-off the appropriate $/kW figure – for example a 130 kW hydro system would be approximately
130kW x 6,642 $/kW = $863,553.</p>
<img class="img-fluid" alt="Responsive image" src="https://www.renewablesfirst.co.uk/wp-content/uploads/2013/03/cost-to-build.png">
<p>You’ll notice that very small hydropower systems are disproportionately expensive, and this is because hydro projects of any size have to include a substantial fixed-cost element at the design and consenting stages, and to a slightly lesser degree during the installation stage. This is why we generally advise people that to get an economically-viable hydropower system the maximum power output will have to be at least 25 kW, and preferably at least 50 kW. Smaller systems can make sense, particularly at sites with higher heads or if other intangible benefits, such as sustainability, environmental protection or publicity, are valued as much as return on investment.</p>

<hr><br>

<p>
    <strong style="color: #aef2b1;">Hydropower efficiency
:<br><br></strong>
    Technological advances had moved the open water wheel into an enclosed turbine or water motor. In 1848, the British-American engineer James B. Francis, while working as head engineer of Lowell's Locks and Canals company, improved on these designs to create a turbine with 90% efficiency. He applied scientific principles and testing methods to the problem of turbine design. His mathematical and graphical calculation methods allowed the confident design of high-efficiency turbines to exactly match a site's specific flow conditions. The Francis reaction turbine is still in wide use today. In the 1870s, deriving from uses in the California mining industry, Lester Allan Pelton developed the high-efficiency Pelton wheel impulse turbine, which used hydropower from the high head streams characteristic of the mountainous California interior.

</p>

</div>
{% endblock content %}